body {
  font-family: 'Roboto', sans-serif;
}

.chat-container {
  background: #f7fafc;
  margin:  auto;
  overflow: hidden;
}

.chat-header {
  background: #3b82f6 ;
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 15px;
}

.chat-sidebar {
  background: #3b82f6 ;
  color: #fff;
  padding: 20px 20px 60px;
  overflow-y: scroll;
}

.chat-messages {
  padding: 20px;
  max-height: 499px;
  overflow-y: scroll;
}

.chat-messages .message {
  padding: 10px;
  margin-bottom: 15px;
  background-color: #e6e9ff;
  border-radius: 5px;
}

.chat-form-container {
  padding: 20px 30px;
  background-color: #3b82f6 ;
}

.chat-messages .message {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
}

.chat-messages .message .meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-messages .message .meta .username {
  font-weight: bold;
}

.chat-messages .message .meta .time {
  font-size: 0.8em;
  color: #777;
}

.chat-messages .message.sender {
  background-color: #e6e9ff;
  align-self: flex-start;
}

.chat-messages .message.receiver {
  background-color: #f7fafc;
  align-self: flex-end;
}

/* ------------------------ */
.chat-messages .message {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
}

.chat-messages .message.sender {
  background-color: #dbeafe  ;
  text-align: right;
}

.chat-messages .message.receiver {
  background-color: #f7fafc;
  text-align: left;
}

